.Board {
  border: 1px solid black;
  table-layout: fixed;
  empty-cells: show;

  margin-inline: auto;
  margin-top: auto;
  margin-bottom: 1rem;
}

.Board .BoardCell {
  border: 1px solid black;
  height: 25px; width: 25px;
  overflow: hidden;
}
