.Board {
  border: 1px solid black;
  table-layout: fixed;
  empty-cells: show;

  margin-inline: auto;

  user-select: none;

}

.Mine {
  --team-color-hex: 173, 216, 230;
  --team-color: rgb(var(--team-color-hex))
}

.Theirs {
  --team-color-hex: 255, 0, 0;
  --team-color: rgb(var(--team-color-hex))
}

.Board .BoardCell {
  border: 1px solid black;
  height: 25px; width: 25px;
  overflow: hidden;

  background-color: rgba(var(--team-color-hex), 0.5);
}

.BoardPawn {
  height: 100%; width: 100%; /* Occupy the entire cell */

  stroke-width: 2;
  stroke: green;
  fill: var(--team-color);
}

.Moves {
  display: flex;
  transform: scale(0.9, 0.75);
}

.Moves .Move {
  border: 1px solid black;
  table-layout: fixed;
  empty-cells: show;

  margin-inline: auto;

  user-select: none;
}

.Moves :first-child {
  margin-right: 20px;
}

.Move .MoveCell {
  border: 1px solid black;
  height: 1em; width: 1em;
  overflow: hidden;

  background-color: var(--movecell-color);
}

.MoveCell.Pos {
  --movecell-color: black;
}

.MoveCell.Dest {
  --movecell-color: green;
}
